In [1]:
#libraries
import pandas as pd
import wget

In [2]:
import os, ssl
if (not os.environ.get('PYTHONHTTPSVERIFY', '') and
getattr(ssl, '_create_unverified_context', None)):
    ssl._create_default_https_context = ssl._create_unverified_context

In [3]:
# remove existing files
!rm *.csv

# urls of the files

urls = ['https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv',
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv',
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv',
        'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv'
]
    
# download files
for url in urls:
    filename = wget.download(url)

zsh:1: no matches found: *.csv

In [4]:
# generate DataFrames
confirmed_global = pd.read_csv('time_series_covid19_confirmed_global.csv')
deaths_global = pd.read_csv('time_series_covid19_deaths_global.csv')
recovered_global = pd.read_csv('time_series_covid19_recovered_global.csv')
covid19_data = pd.read_csv('cases_country.csv')

In [5]:
confirmed_global.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/4/20,8/5/20,8/6/20,8/7/20,8/8/20,8/9/20,8/10/20,8/11/20,8/12/20,8/13/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,36782,36829,36896,37015,37054,37054,37162,37269,37345,37424
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,5750,5889,6016,6151,6275,6411,6536,6676,6817,6971
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,32504,33055,33626,34155,34693,35160,35712,36204,36699,37187
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,939,939,944,955,955,955,963,963,977,981
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1344,1395,1483,1538,1572,1672,1679,1735,1762,1815

In [6]:
# merging three dataframes based on first for columns as all three have same columns.
dates = confirmed_global.columns[4:]
confirmed_global_long = confirmed_global.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                                              value_vars=dates, var_name='Date', value_name='Confirmed')

deaths_global_long = deaths_global.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], 
                                        value_vars=dates, var_name='Date', value_name='Deaths')

recovered_global_long = recovered_global.melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'],
                                              value_vars=dates, var_name='Date', value_name='Recovered')

In [7]:
data = pd.merge(left=confirmed_global_long, right=deaths_global_long, 
                how ='left', on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long'])

data = pd.merge(left=data, right=recovered_global_long, how='left',
                on=['Province/State', 'Country/Region', 'Date', 'Lat', 'Long'])

data['Recovered'] = data['Recovered'].fillna(0)
data['Recovered'] = data['Recovered'].astype('int')

In [8]:
# renaming countries, regions, provinces
# i manually find this
data['Country/Region'] = data['Country/Region'].replace('Korea, South', 'South Korea')
data.loc[data['Country/Region'] == "Taiwan*", "Country/Region"] = "Taiwan"

#Change column name
data = data.rename(columns={"Country/Region": "Country"})
data = data.rename(columns={"Province/State": "State"})

data['State'] = data['State'].fillna('')

#create active case column
data["Active"] = data["Confirmed"]-data["Recovered"]-data["Deaths"]

In [9]:
data.to_csv('covid19_timeseries.csv', index=False)

In [10]:
## Clean global data
covid19_data = covid19_data.rename(columns={"Country_Region": "Country"})
covid19_data = covid19_data.rename(columns={"Long_": "Long"})
covid19_data["Active"] = covid19_data["Confirmed"]-covid19_data["Recovered"]-covid19_data["Deaths"]

covid19_data.loc[covid19_data['Country'] == "Taiwan*", "Country"] = "Taiwan"
covid19_data.loc[covid19_data['Country'] == "Korea, South", "Country"] = "South Korea"
covid_19 = covid19_data.fillna(0)

In [11]:
covid19_data.to_csv('Novel Corona Virus.csv', index=False)